.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/

#quocdunginfo
application/_static/upload/*
application/_static/upload_thumb/*
application/_static/upload_thumb_3rd/*